<!-- <h1>Main#notify_question_author</h1>

<p>
  <%= @greeting %>, find me in app/views/main_mailer/notify_question_author.html.erb
</p> -->

<%= @greeting %>,
<h3>My answer:</h3>
<p>
<%= @answer.body %>
</p>